[user]
    name = William Ellett
	email = williamjellett@gmail.com
[core] 
    editor = vim
    excludesfile = ~/.global_gitignore
[diff] 
    tool = vimdiff
[merge]
	tool = vimdiff
[pull]
    rebase=true
[difftool] 
    prompt = false
[alias]
    update = add -u
[mergetool]
    keepBackup = false
[rebase] 
    autosquash = true

